.navbarDivPrinc{
    height: 100vh;
    width: 12%;
    background-color: var(--bg-color);
    border-right: 2px solid var(--blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    position: fixed;
}

.imgNavbar{
    border-radius: 50%; /* Transforma em círculo */
    border: 3px solid var(--blue);
    width: 100px;       /* Largura fixa */
    height: 100px;      /* Altura fixa (igual à largura para um círculo perfeito) */
    object-fit: cover; /* Preenche o círculo mantendo a proporção e centralizando */
}

.divNomeFoto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.divLogout{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

.perfilIconLogout{
    font-size: 1.3rem;
    cursor: pointer;
}